<!DOCTYPE html>
<html>

<head>

  <% include head %>

</head>

<body>

<div id="wrapper">

<!-- /.navbar-static-top -->


    <%- body %>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->



<!-- Page-Level Demo Scripts - Blank - Use for reference -->

</body>

</html>
