<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title><%= title %></title>


<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/font-awesome-4.3.0/css/font-awesome.css" rel="stylesheet">


<!-- Core Scripts - Include with every page -->
<script src="/javascripts/jquery-1.11.1.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>


<script>

</script>