<div class="panel panel-default">
    <div class="panel-heading">
        <%= data.name %>
    </div>
    <div class="panel-body">
        <%- data.content %>
    </div>
    <div class="panel-footer">
        <%= data.author %> -  <%= data.createtime %>
    </div>
</div>